html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #242424;
    color:#00897B;
    overflow: hidden;
  }
.container-fluid {
    margin: 0;
    padding: 0;
}
img {
  vertical-align: baseline;
}
