html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #242424;
    color:#00897B;
    overflow: hidden;
  }
.container-fluid {
    margin: 0;
    padding: 0;
}
img {
  vertical-align: baseline;
}
#viewDiv{
	height: 100vh;
}
#chartDiv{
  height: 100vh;
  overflow-y: scroll
}

.esri-view-width-xlarge .esri-popup__main-container {
width: 700px;
}
.esri-view-height-less-than-medium  .esri-popup__main-container {
    max-height: 600px;
}
.esri-feature__content-element{
      padding-bottom: 0px;
}