html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #242424;
    color:#00897B;

  }
.top{width:100%;height:45px;}
.left{width:50%;
      float:left;}
.right{width:50%;
      float:right;}
.container-fluid {
    margin: 0;
    padding: 0;
}
img {
  vertical-align: baseline;
}

#chartDiv{
  overflow-y: auto
}
#selected-area-div{
  
  background-color: #242424;
  padding:5px;
  width:200px;
}
#selected-area-list{
  max-height:150px;
  overflow-y:auto;
  overflow-x:hidden;

}
.selected-area-name{
  font-size: 8pt;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:1px;
  margin-right:1px;
  padding:0px;
  background-color: #242424;
  color:#00897B;
}
.selected-areas-title{
  margin-left:2px;
  margin-bottom:2px;
  margin-top:2px;
  color:#D6D1CA;
}
hr{margin:1px;}
li{margin:1px;}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6F6259; 
}

.legend-title { text-align: left; margin-bottom: 5px; margin-left:5px;font-weight: bold; font-size: 90%; width: 100%; }
.legend-scale ul { margin: 5px; padding: 0px; list-style: none; width: 90%; }
.legend-scale ul li { font-size: 80%; list-style: none; margin-left: 0px; line-height: 18px; margin-bottom: 2px; }
ul.legend-labels li span { display: block; float: left; height: 14px; width: 25px; margin-right: 5px; margin-left: 0px; }
.legend-source { font-size: 70%; color: rgb(153, 153, 153); clear: both; }
a { color: rgb(119, 119, 119); border-radius: 10px; }
.legend-box {display:none;background: #222;width: 130px;border-radius: 3px;}

#legend-list{max-height: 150px;
            overflow-y: auto;}