html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #242424;
  color:#00897B;

}
.wrapper {
    display: flex;  
    /* flex-flow: column wrap; */
    flex-wrap: nowrap;
    flex-direction: row;
    font-weight: bold;
    text-align: center; 
    height: 100%;
  }
  
  .main {
    flex-grow: 2;
    /* width: 60%; */
    height: 100%;
  }
  

  /*.aside-2 {
    background: hotpink;
  } */
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .main    { order: 1; }
    .aside-2 { order: 2; }
  }
  
canvas {
  background-color: rgb(224, 226, 212);
  display: flex;
}



/* dropdown stuff pasted from free code camp */
.hide {
  max-height: 0 !important;
}

.dropdown{
border: 0.1em solid black;
/*width: 10em;*/
height: 2em;
margin-bottom: 1em;
float:center;
}

.dropdown .title{
margin: .3em .3em .3em .3em;	
width: 100%;
}

.dropdown .title .fa-angle-right{
float: right;
margin-right: .7em;
transition: transform .3s;
}

.dropdown .menu{
transition: max-height .5s ease-out;
max-height: 20em;
overflow: hidden;
}

.dropdown .menu .option{
margin: .3em .3em .3em .3em;
margin-top: 0.3em;
}

.dropdown .menu .option:hover{
background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
cursor: pointer;
}

.rotate-90{
transform: rotate(90deg);
}