body {
  background-color : #ededed; 
  font-family : "Open Sans", sans-serif;
  font-size: large;  
}

h1 {padding: 40px; text-align: center; font-size: 1.5em;}

/* li a {text-decoration : none; color : #2d2f31;} */

/* Class */
.center {
  margin: auto;
  width: 80%;
  border: 2px solid #424349;
  padding: 10px;
  position: flex;
}

/* ID */
#stuff {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}